header{
  padding-top: 10px;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  justify-content: space-around;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#hero{
  width:100%;
  display:flex;
  justify-content: center;
  background-image: url("../img/Valley.png");
  background-size:cover;
}
#hero h2{
  color:white;
  text-align: center;
  font-size: 2em;
  padding: 3em;
}

body {
    background-image:url("../img/hexWall.png"); /* Background pattern from Subtle Patterns */
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    color:#3e4c57;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
  font-family: Verdana, sans-serif;
  font-size: 2.5em;
  font-style:italic;
  text-transform: uppercase;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 800px;
    min-height: 800px;
    background: #e8eced;
    padding: 32px;
    border-width: 5px;
    border-style: solid;
    border-color:#3e4c57;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 150px;
    width: 150px;
    background: #2e3d49;
    font-size: 0;
    color: #e8eced;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #3e4c57;
    cursor: default;
    border-width: 2px;
    border-style: solid;
    border-color:#e8eced;
}

.deck .card.show {
    font-size: 50px;
}

.deck .card.match {
    cursor: default;
    background: #e8eced;
    font-size: 33px;
    border-width: 2px;
    border-style: solid;
    border-color:#3e4c57;
    color: #3e4c57;
}

@media only screen and (max-width: 800px){
 .deck .card{
   width: 75px;
   height: 75px;
   line-height: 75px;
 }

 .deck {
   width: 400px;
   height: 400px;
 }
}

@media only screen and (max-width: 450px){
 .deck .card{
   width: 50px;
   height: 50px;
   line-height: 50px;
   margin: 0 10px 10px 0 !important;
 }

 .deck {
   width: 300px;
   height: 300px;
 }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 30%;
    margin: 10px;
    font-size: 1.5em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

@media screen and (max-width:685px){
#title{
  justify-content:center;
  text-align:center;
}
#logo{
  max-width: 25%;
  justify-content:center;
}
}
@media screen and (min-width:686px){
#title{
  justify-content:flex-start;
  text-align:right;
}
#logo{
  max-width: 25%;
  justify-content:flex-end;
}
}
#portrait{
  max-width: 10em;
  border-style: solid;
  border-color: #3e4c57;
  border-width: 5px;
}

footer{
  width:100%;
  display:flex;
  justify-content:center;
}
#links{
  align-items: center;
}
.icon{
  width:57px;
  padding:5px;
}
.link:hover{
  transform:scale(1.1);
}
